{% extends 'base.html' %}

{% block title %}Home{% endblock %} 


{% block content %} 

<div class="container flex-column pt-5 pb-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Grain Free Friend</h1>

        <h2>Your baking buddy for alternative breads and more</h2>

        <p class="pt-4">
            Hey friend! We're so glad you're here! Whether you're celiac, keto, paleo, or just curious, this is the place to explore grain-free baking. If you're new, you can find easy instructions for recreating your favorite comfort foods and everyday basics. And then there are plenty of fresh ideas for folks who have been baking without grain for ages. If you're also avoiding dairy, or want a parve sandwich bread, you can find solutions here!
        </p>
        <p class="pt-4">
            Browse our recipes, search by keyword, or add your own favorites to improve this database for all of our grain-free friends.
        </p>
        <hr class="horiz-line">
    </section>
    <section>
        <h3 class="text-center">New Recipes</h3>
        <div class="recipe-cont">
            <!-- Loops through recipes -->
            {% for recipe in recipes %} 
                <a href="{% url 'recipe_detail' recipe.id %}" class="img-container">
                    <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" style="width: 100%">
                    <div class="centered pt-2"><h2>{{recipe.title}}</h2></div>
                </a>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}