{% extends "base.html" %}

{% load static %}

{% block title %}Favorites{% endblock %} 

{% block content %} 
    <div class="container text-center pt-5 pb-3">
        <h1 class="main-title mx-auto">Favorites</h1>
    
        <h2>Saved Recipes</h2>
    
        <p class="pt-4">
            Here are all the recipes you've saved.
        </p>
        <p>
            Want to find even more favorites?
        </p>
        <a href="#" class="btn btn-dark w-25">Favorite finder</a>
    </div>
{% endblock %}