{% extends "base.html" %}

{% block title %}Recipe Detail - {{recipe.title}}{% endblock %}

{% block content %} 
    <div class="container">
        <div class="recipe-info mt-5 p-1">
            <div class="recipe-img">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.image_alt }}" class="recipe-pic">
            </div>
            <div class="text-center recipe-detail mt-3">
                <h1>{{ recipe.title }}</h1>
                <p>Posted by {{recipe.user}} on {{recipe.posted_date}}</p>
                <hr class="horiz-line">
                <p>{{recipe.description}}</p>
                <p><strong>Level: </strong> {{ recipe.level|title }}</p>
                <p><strong>Method: </strong> {{ recipe.method|title }}</p>

                {% if request.user == recipe.user %} 
                <div class="text-center p-3">
                    <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-dark w-25">Edit</a>
                    <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-dark w-25">Delete</a>
                </div>
                <hr class="horiz-line">
                {% endif %}
            </div>
        </div>
        <div class="recipe-container mt-3 mb-5">
            <div class="ingredients p-3">
                <h2>Ingredients</h2>
                <p>{{ recipe.ingredients|safe }}</p>
            </div>
            <div class="instructions p-3">
                <h2>Instructions</h2>
                <p>{{ recipe.instructions|safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}