<!-- The recipes app was inspired by the app of the same name in the Django Recipe Sharing tutorial by Dee Mc. The functionality here is based on the tutorial. -->

{% extends "base.html" %}
{% load static %}

{% block title %}Delete recipe {{ object.title }}{% endblock %} 

{% block content %}
<div class="container">
    <h1 class="text-center mt-2">Confirm Recipe Deletion</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            {% csrf_token %} 
            <p>Are you sure you want to delete "{{object.title}}"?</p>
            <input type="submit" value="Confirm" class="btn">
        </form>
    </div>
</div>
{% endblock %}
