@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    /* Fonts */
    --title: 'Montserrat', sans-serif;
    --main-font: 'Roboto', sans-serif;

    /* Colors */
    --blue: #b4e1e6;
    --cream: #ffe9b8;
    --yellow: #fec91d;
    --peach: #f9ac82;
    --red: #f1442e;
    --green: #a7ca55;
    --dark-green: #38574f;
    --off-black: #3a3a3c;
    --off-white: #fefcf5;

    /* Utils */

    --small-box-shadow: 1px -1px 7px 0 #3a3a3c;
    --border: 1px solid #3a3a3c;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--cream);
}

/* Header */

.navbar {
    background-color: var(--cream);
    box-shadow: var(--small-box-shadow);
}

a.nav-link {
    color: var(--off-black);
}

/* Change this to be the right size */
img.logo {
    width: 18.75rem;
}

.active {
    border-bottom: 2px solid var(--off-black);
    font-weight: 500;
}

/* Form */

/* Initial styles based on the tutorial */
.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

/* Recipes */

.card {
    height: 90%;
    margin-top: 1rem;
}

.recipes {
    text-decoration: none;
    color: var(--off-black);
}

.recipes:hover {
    cursor: pointer;
}

/* Footer */

footer {
    flex-shrink: 0;
    background-color: var(--cream);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}