<!-- This web app was inspired by the Django Recipe Sharing tutorial by Dee Mc. The functionality here is based on the tutorial. -->

{% load static %}

<footer>
    <!-- Social media icons -->

    <a href="https://www.patreon.com/" target="_blank" rel="noopener" aria-label="Patreon - Opens in a new tab"><img src="{% static 'images/icons/patreon-round-color-icon.png' %}" alt="Patreon Icon" class="social-icon"></a>

    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab"><img src="{% static 'images/icons/ig-instagram-icon.png' %}" alt="Instagram Icon" class="social-icon"></a>

    <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab"><img src="{% static 'images/icons/facebook-round-color-icon.png' %}" alt="Facebook Icon" class="social-icon"></a>

    <a href="https://www.pinterest.com/" target="_blank" rel="noopener" aria-label="Pinterest - Opens in a new tab"><img src="{% static 'images/icons/pinterest-round-color-icon.png' %}" alt="Pinterest Icon" class="social-icon"></a>

</footer>