{% extends "base.html" %}

{% load static %}

{% block title %}About{% endblock %} 

{% block content %} 
    <div class="container text-center pt-5 pb-3">
        <h1 class="main-title mx-auto">Hey friend!</h1>
    
        <h2>Meet your baking buddy</h2>
    
        <p class="pt-4">
            It's us! We started Grain Free Friend in 2024 to share the secrets of baking without grain or sugar. There are plenty of fun and flashy keto and gluten-free recipes available, but we wanted a way to filter through them and find the basic recipes that would work for us every day, as well as fancy treats for special occasions.
        </p>
        <p>
            Plus, we had other concerns. Some of us keep kosher, others are steering clear of dairy, and so on. When that overlaps with a grain-free diet, it gets complicated! Grain Free Friend is our solution.
        </p>
        <p>
            And we hope it's yours too! Fluffy sandwich bread without dairy? We've got you! Want to make a meat-filled knish with a keto dough? It's all here. And even better, you can add your own recipes and keep track of your favorites (coming soon!).
        </p>
        <p>
            Got something on your mind? Please let us know how we can be a better friend!
        </p>
        <a href="#" class="btn btn-dark w-25">Contact</a>
    </div>
{% endblock %}