{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center pt-5 pb-3">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Thanks for joining us, it's so great to have you here!{% endblocktrans %}</p>
  <p class="opacity-75">{% blocktrans %}Oh, are we already friends? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="form p-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn mb-2">Sign Up</button>
  </form>
</div>
{% endblock %}